    <h3>add new product</h3>
    <fieldset>
       <label>Product name</label><input type="text" ng-model="product.productName"><br/>
       <label>Product image</label><input type="file"><br/>
       <label>price</label><input type="number" ng-model="product.price"><br/><label>size</label><select ng-model="product.size">
           <option>L</option>
           <option>S</option>
           <option>M</option>
           <option>XL</option>
       </select>
    <br/>
    </fieldset>
<button ng-click="addNewProduct()">create new product</button>