<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product list</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h2>Product management</h2>
    <table class="rwd-table">
        <tr><th>product name</th><th>image</th><th>price</th><th>size</th><th>edit</th>
        </tr>
        <tr>
            <td>latte</td>
            <td><img src="image/coffee.jpg" style="height: 100px;width: 100px;"></td>
            <td>3.7</td>
            <td>L</td>
            <td><input type="button" value="edit"></td>
        </tr>
        <tr>
            <td>cappuccino</td>
            <td><img src="image/cappa.jpg" style="height: 100px;width: 100px;"></td>
            <td>3.0</td>
            <td>S</td>
            <td><input type="button" value="edit"></td>
        </tr>
        <tr>
            <td>banana cake</td>
            <td><img src="image/banana_cake.jpg" style="height: 100px;width: 100px;"></td>
            <td>5.5</td>
            <td></td>
            <td><input type="button" value="edit"></td>
        </tr>
    </table>
</body>
<a href="addcoffee.html">add new product type</a>
</html>